body {
    background-color: #F0F0F0;
    height: 400px;
    margin: 0px 16px 0px 16px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    opacity: 0.8;
    margin: 16px 0px 8px 0px;
    letter-spacing: 0.5px;
    outline: none;
}

button {
    background: white;
    color: black;
    border-color: rgba(0,0,0,0.3);
    border-width: 1px;
    border-style: solid;
    padding: 8px 15px;
    margin: 0 0 0 0;
    width: 32px !important;
    height: 32px;
}

button img {
    margin-left: -6px;
}

button#height-left img {
    transform: rotate(90deg);
}

button#height-center img {
    transform: rotate(90deg);
}

button#height-right img {
    transform: rotate(90deg);
}

button#margin-right img {
    transform: rotate(90deg);
}

button#spacing-horizon {
    transform: rotate(90deg);
}

button#margin-left {
    transform: rotate(-90deg);
}

button#margin-bottom {
    transform: rotate(180deg);
}

button#font-spec-on-right {
    transform: rotate(90deg);
}

button#font-spec-on-left {
    transform: rotate(-90deg);
}

button#font-spec-on-bottom {
    transform: rotate(180deg);
}

div.button-row {
    margin: 8px 0 0 0;
}