<p>Sizes:</p>
<div class="button-row">
    <button id="width-bottom">
        <img src="<%= require('./icons/wb.svg') %>">
    </button>
    <button id="width-center">
        <img src="<%= require('./icons/wc.svg') %>">
    </button>
    <button id="width-top">
        <img src="<%= require('./icons/wt.svg') %>">
    </button>
</div>
<div class="button-row">
    <button id="height-left">
        <img src="<%= require('./icons/wb.svg') %>">
    </button>
    <button id="height-center">
        <img src="<%= require('./icons/wc.svg') %>">
    </button>
    <button id="height-right">
        <img src="<%= require('./icons/wt.svg') %>">
    </button>
</div>
<p>Spacings:</p>
<div class="button-row">
    <button id="spacing-portrait">
        <img src="<%= require('./icons/sv.svg') %>">
    </button>
    <button id="margin-top">
        <img src="<%= require('./icons/st.svg') %>">
    </button>
    <button id="margin-right">
        <img src="<%= require('./icons/st.svg') %>">
    </button>
</div>
<div class="button-row">
    <button id="spacing-horizon">
        <img src="<%= require('./icons/sv.svg') %>">
    </button>
    <button id="margin-bottom">
        <img src="<%= require('./icons/st.svg') %>">
    </button>
    <button id="margin-left">
        <img src="<%= require('./icons/st.svg') %>">
    </button>
</div>
<p>Labels:</p>
<div class="button-row">
    <button id="font-spec-on-right">
        <img src="<%= require('./icons/lr.svg') %>">
    </button>
    <button id="font-spec-on-left">
        <img src="<%= require('./icons/lr.svg') %>">
    </button>
    <button id="font-spec-on-top">
        <img src="<%= require('./icons/lt.svg') %>">
    </button>
</div>
<div class="button-row">
    <button id="font-spec-on-bottom">
        <img src="<%= require('./icons/lt.svg') %>">
    </button>
</div>